.area {
  width: 100%;
  margin: auto;
  flex-wrap: wrap;
  display: flex;
}

.container {
  max-width: 980px;
  margin: auto;
}
 
.tab_class {
  width: calc(100%/5);
  height: 100px;
  line-height: 100px;
  background-color: darkgrey;
  font-size: 15px;
  text-align: center;
  display: block;
  /* float: left; */
  order: -1;
}
 
input[name="tab_name"] {
  display: none;
}
 
input:checked + .tab_class {
  background-color: cadetblue;
  color: aliceblue;
}

.content_class {
  display: none;
  width: 100%;
}
 
input:checked + .tab_class + .content_class {
  display: block;
}

/* table */

table , td, th {
	border: 1px solid #595959;
	border-collapse: collapse;
  width: 100%;
}
td, th {
	padding: 3px;
	width: 30px;
	height: 25px;
}

td:first-child {
  width: 100px;
  
}

th {
	background: #f0e6cc;
}
.even {
	background: #fbf8f0;
}
.odd {
	background: #fefcf9;
}